<table class="table table-striped" id="game_table">
  <tr>
    <th>Season</th>
    <th>Year</th>
    <th>Current Location</th>
  </tr>
  <tr>
    <td><%= @current_game.season %></td>
    <td><%= @current_game.year %></td>
    <td><%= @current_game.location %></td>
  </tr>
</table>

<table class="table table-striped" id="wolf_table">
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <td>Health</td>
  </tr>
  <% @wolves.each do |wolf| %>
    <tr>
      <td><%= wolf.name %></td>
      <td><%= wolf.gender %></td>
      <td><%= wolf.age %></td>
      <td><%= wolf.health %></td>
    </tr>
  <% end %>
</table>


