<!DOCTYPE html>
<html>
<head>
  <title>WolfRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href=<%= root_path %>> The Wolf Game</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Pack", wolves_path %></li>
            <li><%= link_to "History" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<%= yield %>
<br>
  <div id="footer">
    <%= link_to "Log In", controller: 'sessions', action: 'new' %> |
    <%= link_to "New User", controller: 'users', action: 'new' %> | <%= link_to "Log Out", controller: 'sessions', action: 'destroy', method: 'delete' %> 
  </div>
<!--   <span id="footer_special" class="visible-xs hidden-sm hidden-md hidden-lg">
    <%= link_to "Pack", controller: 'wolves', action: 'index' %> |
    <%= link_to "New Wolf", controller: 'wolves', action: 'new' %> 
  </span> -->
</body>
</html>
