<!DOCTYPE html>
<html>
<head>
  <title>WolfRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Some Store</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Browse Products", users_path %></li>
            <li><%= link_to "Price List" %></li>
            <li><%= link_to "Contact Us" %></li>
            <li><%= link_to "Cart" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="title">
    <h1>The Wolf Game</h1>
    <p><small>again</small></p>
    <br>
  </div>

<%= yield %>
<br>
<div id="footer">
<%= link_to "Log Out", controller: 'sessions', action: 'destroy', method: 'delete' %>
<%= link_to "Log In", controller: 'sessions', action: 'new' %>
</div>
</body>
</html>
